<header style="padding-top: 50px;">
    <div class="container">
        <div class="row" style="padding-bottom:80px;">
            <div class="col-sm-6 col-md-7" style="padding-top: 100px;">
                <h1 style="color: white;">Hacemos del código un elemento que ayuda a transmitir y mejorar la presentación de
                    información.</h1>
                <a href="#como" class="btn btn-outline btn-xl page-scroll">¡Te contamos como!</a>
            </div>
            <div class="col-sm-6 col-md-5">
                <img src="/img/banner.png" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</header>