<section id="equipo" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Nuestro equipo</h2>
                <p>Creemos en nuestra capacidad para ofrecer soluciones</p>
                <div class="row">
                    <div class="col-md-6">
                        <img width="128px" src="img/etoledo.jpg" class="img-circle">
                        <h3>Eder Toledo</h3>
                        <p>Software Developer</p>
                    </div>
                    <div class="col-md-6">
                        <img width="128px" src="img/yochoa.jpg" class="img-circle"
                            alt="Photo taken on the trek to Rob Roy Glacier">
                        <h3>Yessenia Ochoa</h3>
                        <p>UX & UI Designer</p>
                    </div>
                </div>
                <hr>
                {% if site.data-ad-client %}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- jekynewage -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="{{ site.data-ad-client }}"
                    data-ad-slot="{{ site.data-ad-slot }}" data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portafolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <center>
                    <a class="portfolio-box">
                        <img src="/img/portfolio/ecofronteras.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    ECOFRONTERAS
                                </div>
                                <div class="project-name">
                                    Actualización de plataforma para la gestión de su revista
                                </div>
                            </div>
                        </div>
                    </a>
                </center>
            </div>
            <div class="col-lg-4 col-sm-6">
                <center>
                    <a href="#" class="portfolio-box">
                        <img src="/img/portfolio/sociedadyambiente.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Sociedad y Ambiente
                                </div>
                                <div class="project-name">
                                    Actualización de plataforma para la gestión de su revista
                                </div>
                            </div>
                        </div>
                    </a>
                </center>
            </div>
            <div class="col-lg-4 col-sm-6">
                <center>
                    <a href="#" class="portfolio-box">
                        <img src="/img/portfolio/ecosur.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    ECOSUR
                                </div>
                                <div class="project-name">
                                    Desarrollo de módulos a medida
                                </div>
                            </div>
                        </div>
                    </a>
                </center>
            </div>
        </div>
    </div>
</section>