<section id="quote" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Nuestro equipo</h2>
                <p>Creemos en nuestra capacidad para ofrecer soluciones</p>
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://randomuser.me/api/portraits/men/66.jpg" class="img-circle"
                            alt="Photo taken on the trek to Rob Roy Glacier">
                            <h3>Eder Toledo</h3>
                            <p>Full Stack Developer</p>
                    </div>
                    <div class="col-md-6">
                        <img src="https://randomuser.me/api/portraits/women/39.jpg" class="img-circle"
                            alt="Photo taken on the trek to Rob Roy Glacier">
                            <h3>Yessenia Ochoa</h3>
                            <p>UX & UI Designer</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>